
.navbar {
  margin: 0 10%;
}

.buttonSingIn {
  margin-left: 90%;
}

.logo {
  height: 7vh;
}

.button:hover {
  background-color: rgb(193, 9, 18);
}

.mainContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 60%;
  margin-top: 12%;
}

.mainContentRow {
  min-width: 600px;
  text-align: center;
  color: aliceblue;
}

.mainContentRowform {
  width: 600px;
}

.formCol {
  padding: 0 4px;
  margin: auto;
}

.formCol .button {
  width: 200px;
  font-size: 150%;
  font-weight: 600;
  min-height: 3.5rem;
  padding: 14px 23px;
}

h1 {
  flex-wrap: wrap;
  font-family: "Paytone One", sans-serif;
  font-weight: 900;
  font-size: 48px;
  display: block;
  margin: 11px 0;
}

p {
  flex-wrap: wrap;
  font-size: 25px;
  font-weight: 400;
  font-family: "Helvetica", sans-serif;
}

.pSubscribe {
  font-size: 20px;
  margin-top: 8px;
}

.inputEmail {
  padding: 1.5rem 1rem 0.5rem;
  width: 100%;
  height: 56px;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.459);
  color: inherit;
}

input[type="email" i] {
  padding-block: 1px;
  padding-inline: 15px;
  font: inherit;
  font-weight: 600;
}

::placeholder {
  color: rgb(147, 147, 147);
}
